* {
    box-sizing: border-box;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    background: #f4f4f4;
    background-color: #ffffff;
}

header {
    width: 100%;
    background-color: #192738;
    color: #fff;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    width: 50px;
    border-radius: 50%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    color: #192738;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    color: #1f499d
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5%;
}

section img {
    width: 5rem;
    height: 5rem;
}

banner {
    background: url(./images/banner.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

banner p {
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}

p {
    padding: 1rem;
    font-size: 1.5rem;
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    background-image: url(./images/eze\ profile-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    opacity: 0.8;
}

#our-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure img {
    width: 100%;
    height: 100%;
}

figcaption {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    color: #1f499d;
}

footer{
    width: 100%;
    background-color: #192738;
    color: #fff;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}