* {
    box-sizing: border-box;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    background: #f4f4f4;
    background-color: #5698B9;
}

header {
    width: 100%;
    background-color: #192738;
    color: #fff;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    width: 50px;
    border-radius: 50%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    color: #192738;
}

h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: #1f499d
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

footer {
    width: 100%;
    background-color: #192738;
    color: #fff;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    padding: 1rem;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    color: #1f499d
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

article div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

