* {
    box-sizing: border-box;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    background: #f4f4f4;
    background-color: #5698B9;
}

header {
    width: 100%;
    background-color: #192738;
    color: #fff;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}

h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: #1f499d;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
    color: #1f499d;
    text-transform: uppercase;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

footer {
    width: 100%;
    background-color: #192738;
    color: #fff;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    padding: 1rem;
    font-size: 1.5rem;
}

section li {
    font-size: 1.3rem;
    margin: 1rem;
}

.safety {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.safety img {
    border-radius: 10%;
}

@media screen and (min-width: 768px) {

    nav li {
        font-size: 2rem;
    }

    h2 {
        font-size: 2.5rem;
        padding: 2rem;
    }

    section li {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        padding: 2rem;
        font-size: 2rem;
    }

    footer p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {

    nav li {
        font-size: 2.5rem;
    }

    section li {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    p {
        padding: 3rem;
        font-size: 3rem;
    }

    footer p {
        font-size: 2.5rem;
    }
}